<!doctype html>
<html ng-app="giphy-slideshow">
  <head>
    <title>Giphy Slideshow</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-route.min.js"></script>
    <script src="/www/js/app.js"></script>
    <script src="/www/js/controller.js"></script>
    <script src="/www/js/service.js"></script>
  </head>
  <body ng-controller="GiphySearchController as search">
      <div class="container-fluid">Search Giphy</div>
      <form name="searchForm">
          <input type="text" ng-model="search.text" name="searchText" value="">
          <button class="btn" ng-click="search.search(searchForm)">Search Giphy</button>
      </form>
  </body>
</html>
